@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


@font-face {
  font-family: "Miller";
  src: url("../fonts/Miller-Text.woff2") format("woff2"),
    url("../fonts/Miller-Text.woff") format("woff"),
    url("../fonts/Miller\ Text\ Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Regular"), local("Helvetica-Regular"),
    url("../fonts/Helvetica.woff2") format("woff2"),
    url("../fonts.Helvetica.woff") format("woff"),
    url("../fonts/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
