@import "./font";

.post-textarea__body {
  .tox-tinymce {
    border: none !important;
    border-radius: 9px !important;
    position: static !important;
    overflow: visible !important;
    border-radius: 0 0 8px 8px;
  }
  .tox-editor-container {
    position: relative !important;
    flex-direction: row-reverse !important;
    overflow: visible !important;
    @media (max-width: 480px) {
      flex-direction: column !important;
    }
  }
  .tox-toolbar-overlord {
    border: none !important;
  }

  .tox .tox-toolbar--scrolling {
    overflow-x: visible !important;
    border-radius: 0 0 8px 0;
  }
  .tox:not(.tox-tinymce-inline) .tox-editor-header {
    border-radius: 0 0 8px 0;
  }
  iframe {
    padding-right: 8px !important;
    padding-left: 16px !important;
    border-radius: 0 0 0 8px;
    margin-bottom: 1px !important;
    @media (max-width: 480px) {
      padding: 8px !important;
      padding-top: 0px !important;
    }
    font-family: "Proxima Nova" !important;
  }
  body.editor {
    display: block !important;
    margin-top: 0 !important;
    color: #75808a;

    p {
      margin: 0 !important;
      margin-bottom: 20px !important;
    }

    ul,
    li {
      list-style: circle !important;
    }

    ul {
      padding-inline-start: 24px !important;
    }
  }
  body {
    p {
      color: #555 !important;
      font-size: 16px;
      line-height: 24px;
      //padding-left: 24px !important;
    }
  }
  .tox-editor-header {
    box-shadow: none !important;
  }
  .tox {
    //height: auto !important;
    min-height: 156px;
  }
  .tox-statusbar {
    display: none !important;
  }
  .mce-content-body {
    margin: 16px 24px !important;
  }
  body,
  .mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
    color: rgb(204, 204, 204) !important;
    font-family: "Proxima Nova" !important;

    * {
      border: none !important;
    }
  }
  .tox-menubar {
    display: none !important;
  }
  .tox-toolbar--scrolling {
    display: flex;
    align-items: flex-start;
    height: 100%;
  }
  .tox-anchorbar {
    display: none !important;
  }
  .tox-toolbar__group {
    flex-direction: column !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    position: sticky;
    top: 0;
    right: 24px;
    padding-right: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    @media (min-width: 991.98px) {
      opacity: 0;
      pointer-events: none;
    }
    @media (max-width: 480px) {
      position: static !important;
      flex-direction: row !important;
      padding-left: 16px !important;
    }

    transition: opacity ease 0.3s;
    z-index: 9999;
    background: #fff;
  }
  .tox-toolbar__primary {
    position: sticky;
    top: 0;
    @media (min-width: 991.98px) {
      opacity: 0;
      pointer-events: none;
    }
    @media (max-width: 480px) {
      position: static !important;
    }
    transition: opacity ease 0.3s;
  }
  .tox-editor-header {
    padding: 0 !important;
  }
  .tox-tbtn {
    width: 38px !important;
    height: 38px !important;
    border-radius: 50% !important;
    background-color: #00b7cd !important;
    cursor: pointer !important;
    margin: 0 !important;
    transition: background-color ease 0.2s;
    &:hover {
      background-color: #03a9bc !important;
    }

    &--enabled {
      background-color: #0f7f91 !important;
      &:hover {
        background-color: #0f7f91 !important;
      }
    }

    path {
      fill: #fff;
    }
  }
}
