@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular"), local("Proxima-Nova-Regular"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Bold"), local("Proxima-Nova-Bold"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Miller";
  src: url("../fonts/Miller-Text.woff2") format("woff2"), url("../fonts/Miller-Text.woff") format("woff"), url("../fonts/Miller Text Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Regular"), local("Helvetica-Regular"), url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.post-textarea__body .tox-tinymce {
  border: none !important;
  border-radius: 9px !important;
  position: static !important;
  overflow: visible !important;
  border-radius: 0 0 8px 8px;
}
.post-textarea__body .tox-editor-container {
  position: relative !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
  overflow: visible !important;
}
@media (max-width: 480px) {
  .post-textarea__body .tox-editor-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
.post-textarea__body .tox-toolbar-overlord {
  border: none !important;
}
.post-textarea__body .tox .tox-toolbar--scrolling {
  overflow-x: visible !important;
  border-radius: 0 0 8px 0;
}
.post-textarea__body .tox:not(.tox-tinymce-inline) .tox-editor-header {
  border-radius: 0 0 8px 0;
}
.post-textarea__body iframe {
  padding-right: 8px !important;
  padding-left: 16px !important;
  border-radius: 0 0 0 8px;
  margin-bottom: 1px !important;
  font-family: "Proxima Nova" !important;
}
@media (max-width: 480px) {
  .post-textarea__body iframe {
    padding: 8px !important;
    padding-top: 0px !important;
  }
}
.post-textarea__body body.editor {
  display: block !important;
  margin-top: 0 !important;
  color: #75808a;
}
.post-textarea__body body.editor p {
  margin: 0 !important;
  margin-bottom: 20px !important;
}
.post-textarea__body body.editor ul,
.post-textarea__body body.editor li {
  list-style: circle !important;
}
.post-textarea__body body.editor ul {
  -webkit-padding-start: 24px !important;
          padding-inline-start: 24px !important;
}
.post-textarea__body body {
  font-family: "Proxima Nova" !important;
}
.post-textarea__body body p {
  color: #555 !important;
  font-size: 16px;
  line-height: 24px;
}
.post-textarea__body .tox-editor-header {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.post-textarea__body .tox {
  min-height: 156px;
}
.post-textarea__body .tox-statusbar {
  display: none !important;
}
.post-textarea__body .mce-content-body {
  margin: 16px 24px !important;
}
.post-textarea__body body,
.post-textarea__body .mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
  color: rgb(204, 204, 204) !important;
  font-family: "Proxima Nova" !important;
}
.post-textarea__body body *,
.post-textarea__body .mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before * {
  border: none !important;
}
.post-textarea__body .tox-menubar {
  display: none !important;
}
.post-textarea__body .tox-toolbar--scrolling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}
.post-textarea__body .tox-anchorbar {
  display: none !important;
}
.post-textarea__body .tox-toolbar__group {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  position: sticky;
  top: 0;
  right: 24px;
  padding-right: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
  z-index: 9999;
  background: #fff;
}
@media (min-width: 991.98px) {
  .post-textarea__body .tox-toolbar__group {
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 480px) {
  .post-textarea__body .tox-toolbar__group {
    position: static !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    padding-left: 16px !important;
  }
}
.post-textarea__body .tox-toolbar__primary {
  position: sticky;
  top: 0;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}
@media (min-width: 991.98px) {
  .post-textarea__body .tox-toolbar__primary {
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 480px) {
  .post-textarea__body .tox-toolbar__primary {
    position: static !important;
  }
}
.post-textarea__body .tox-editor-header {
  padding: 0 !important;
}
.post-textarea__body .tox-tbtn {
  width: 38px !important;
  height: 38px !important;
  border-radius: 50% !important;
  background-color: #00b7cd !important;
  cursor: pointer !important;
  margin: 0 !important;
  -webkit-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
}
.post-textarea__body .tox-tbtn:hover {
  background-color: #03a9bc !important;
}
.post-textarea__body .tox-tbtn--enabled {
  background-color: #0f7f91 !important;
}
.post-textarea__body .tox-tbtn--enabled:hover {
  background-color: #0f7f91 !important;
}
.post-textarea__body .tox-tbtn path {
  fill: #fff;
}